<div class="container" *ngIf="this.exists && this.waitingpass && !this.resultAccess">
    <div class="card text-center">
        <div class="card-header">
            Acceder a un formulario
        </div>
        <div class="card-body">
            <form class="col-sm-6" [formGroup]="passForm" (ngSubmit)="theSubmit()">
                <h5 class="card-title">Ingrese la contraseña:</h5>
                <input type="password" class="form-control" id="password" placeholder="Ingresar descripcion"
                    formControlName="password">
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="container" *ngIf="!this.exists">
    El evento no existe
</div>
<app-verified *ngIf = 'approved' [eventApp]="actualEvent"></app-verified>
<app-results *ngIf = 'resultAccess' [event]="actualEvent"></app-results>