<div class="container" *ngIf="this.access && !this.saved">
    <div *ngIf="this.theEvent['active']">
        <form class="col-sm-6" [formGroup]="responseForm">
            <div class="form-group">
                <label for="name">Nombre: <span class="text-danger"
                        *ngIf="responseForm.get('name').errors && responseForm.get('name').hasError('required')">*</span></label>
                <input type="text" class="form-control" id="name" placeholder="Ingresa el nombre"
                    formControlName="name">
            </div>
            <div *ngIf="responseForm.get('name').invalid && 
                  responseForm.get('name').errors && 
                  (responseForm.get('name').dirty || responseForm.get('name').touched)">
                <small class="text-danger" *ngIf="responseForm.get('name').hasError('required')">
                    This field is required.
                </small>
            </div>
            <div class="form-group">
                <label for="description">Mensaje:</label>
                <input type="text" class="form-control" id="description" placeholder="Ingresar descripcion"
                    formControlName="message">
            </div>
            <p id="datearray" class="text-danger d-none">Debe agregar al menos una fecha</p>
            <button type="button" class="btn btn-primary" [disabled]="responseForm.invalid"
                (click)="theSubmit()">Submit</button>
        </form>
    </div>
    <div *ngIf="!this.theEvent['active']">
        No esta activado
    </div>
</div>
<div class="container" *ngIf="this.saved">
    Respuesta guardada
</div>

<div class="row">
    <div class="col-md-6">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="'week'" [(viewDate)]="viewDate">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="'week'" [(viewDate)]="viewDate">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-6 text-right">
      <h3>{{ viewDate | calendarDate:('weekViewTitle') }}</h3>
    </div>
  </div>
  <br />

<div [ngSwitch]="view">
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    (eventClicked)="eventClicked($event)"
  >
  </mwl-calendar-week-view>
</div>