<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" [routerLink]="['/']">Meet-O-Matic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" *ngIf="isLogged()">
                <a class="nav-link" [routerLink]="['/create']">Crear<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" *ngIf="isLogged()">
                <a class="nav-link" [routerLink]="['/profile']">Perfil<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span class="navbar-text">
            <a *ngIf="!isLogged()" [routerLink]="['/login']">Login<span class="sr-only">(current)</span></a>
        </span>
        <span class="navbar-text">
            <a *ngIf="!isLogged()" [routerLink]="['/signup']">SignUp<span class="sr-only">(current)</span></a>
        </span>
        <span class="navbar-text" *ngIf="isLogged()">
            Hola {{user.name}}
          </span>
        <span class="navbar-text">
            <button *ngIf="isLogged()" class="btn-unstyled" (click)="logout()">Logout</button>
        </span>
    </div>
</nav>