<div class="container">
    <div class="h1">Desde aca podras ver tus eventos creados</div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of myEvents; index as i">
                <td>
                    {{i+1}}
                </td>
                <td>
                    {{item['name']}}
                </td>
                <td>
                    <a class="nav-link" [routerLink]="['/myevent', item['id']]">Ver</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="!this.premiumUser">
        Estas limitado a 10 formularios por mes, hazte premium para poder crear formularios sin limites!
        <a [routerLink]="['/premium']">Hacerme premium</a>
    </div>
</div>