<div class="container" *ngIf="!this.created && !this.exceeded">
  <form class="col-sm-6" [formGroup]="createForm">
    <div class="form-group">
      <label for="name">Nombre: <span class="text-danger"
          *ngIf="createForm.get('name').errors && createForm.get('name').hasError('required')">*</span></label>
      <input type="text" class="form-control" id="name" placeholder="Ingresa el nombre" formControlName="name">
    </div>
    <div *ngIf="createForm.get('name').invalid && 
          createForm.get('name').errors && 
          (createForm.get('name').dirty || createForm.get('name').touched)">
      <small class="text-danger" *ngIf="createForm.get('name').hasError('required')">
        This field is required.
      </small>
    </div>
    <div class="form-group">
      <label for="description">Descripcion:</label>
      <input type="text" class="form-control" id="description" placeholder="Ingresar descripcion"
        formControlName="description">
    </div>
    <p id="datearray" class="text-danger d-none">Debe agregar al menos una fecha</p>
    <div class="form-group">
      <label for="password">Password de acceso:</label>
      <input type="password" class="form-control" id="password" placeholder="" formControlName="password">
    </div>
    <div class="form-group">
      <form [formGroup]="emailForm">
        <label for="recipient">Ingresá los emails de tus contactos para avisarles sobre este formulario</label>
        <input type="text" class="form-control" id="recipient" formControlName="recipient">
        <p id="emailadder" class="text-danger d-none">asd</p>
        <input (click)="addRecipient()" type="button" value="agregar" [disabled]="emailForm.invalid">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let item of this.recipients; index as i">
            {{item}}
            <span class="badge badge-primary badge-pill"><button (click)="removeEmail(i)">quitar</button></span>
          </li>
        </ul>
      </form>
    </div>
    <button type="button" class="btn btn-primary" [disabled]="createForm.invalid" (click)="theSubmit()">Submit</button>
  </form>
  <div class="row">
    <div class="col-md-6">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="'week'" [(viewDate)]="viewDate">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="'week'" [(viewDate)]="viewDate">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-6 text-right">
      <h3>{{ viewDate | calendarDate:('weekViewTitle') }}</h3>
    </div>
  </div>
  <br />
  <div class="container overflow-auto h-25">
    <ng-template #weekViewHourSegmentTemplate let-segment="segment" let-locale="locale"
      let-segmentHeight="segmentHeight" let-isTimeLabel="isTimeLabel">
      <div #segmentElement class="cal-hour-segment" [style.height.px]="segmentHeight"
        [class.cal-hour-start]="segment.isStart" [class.cal-after-hour-start]="!segment.isStart"
        [ngClass]="segment.cssClass" (mousedown)="startDragToCreate(segment, $event, segmentElement)">
        <div class="cal-time" *ngIf="isTimeLabel">
          {{ segment.date | calendarDate:'weekViewHour':locale }}
        </div>
      </div>
    </ng-template>

    <mwl-calendar-week-view [viewDate]="viewDate" [events]="events" [hourSegmentTemplate]="weekViewHourSegmentTemplate"
      [weekStartsOn]="weekStartsOn">
    </mwl-calendar-week-view>
  </div>

</div>
<app-created *ngIf="this.created && !this.exceeded" [eventCreated]="eventCreated"></app-created>
<div *ngIf="this.exceeded" class="text-danger">Ya excediste la cantidad maxima(10) de formularios por mes</div>