.iconColor {
    color: red;
}

textarea {
    height: 100px!important;
    resize: none;
}


.mycustom .input-group-prepend {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    z-index: 9;
}

.mail {
    background-color: #F2F2F2;
    height: 150px;
    overflow-y: scroll;

}

.maillist {
    color: #5161CE;
    background-color: #dddddd;
}

a, a:hover {
    text-decoration: none;
    color: black;
}